@model QT2247A2.Models.InvoiceWithDetailViewModel

@{
    ViewBag.Title = $"Invoice #{Model.InvoiceId} Details";
    string customerInfo = $"{Model.CustomerId}<br /> {Model.CustomerFirstName} {Model.CustomerLastName}<br /> {Model.CustomerState ?? "None"}, {Model.CustomerCountry}";
    string billingAds = $"{Model.BillingAddress}<br /> {Model.BillingCity}, {Model.BillingState ?? "None"} <br /> {Model.BillingCountry}. {Model.BillingPostalCode}";
}

<h2>Details for Invoice #@Model.InvoiceId</h2>

<div>
    @*<h4>InvoiceWithDetailViewModel</h4>*@
    <hr />
    <dl class="row">
        <dt class="col-sm-2 text-end">Customer Info</dt>
        <dd class="col-sm-10">
            @Html.Raw(customerInfo)
        </dd>
    </dl>

    <dl class="row">
        <dt class="col-sm-2 text-end">Billing Address</dt>
        <dd class="col-sm-10">
            @Html.Raw(billingAds)
        </dd>
    </dl>

    <hr />
    <dl class="row">
        <dt class="col-sm-2 text-end">Sales Rep</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerEmployeeFirstName)
            @Html.DisplayFor(model => model.CustomerEmployeeLastName)
        </dd>

        <dt class="col-sm-2 text-end">
            @Html.DisplayNameFor(model => model.InvoiceDate)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvoiceDate)
        </dd>

        <dt class="col-sm-2 text-end">
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
    </dl>

    <h4>Line Items</h4>
    <table class="table table-striped">
        <tr>
            <th class="col-md-1">
                @Html.DisplayNameFor(model => model.InvoiceLines.First().InvoiceLineId)
            </th>
            <th class="col-md-8 text-center">
                Track
            </th>
            <th class="col-md-1">
                @Html.DisplayNameFor(model => model.InvoiceLines.First().UnitPrice)
            </th>
            <th class="col-md-1">
                @Html.DisplayNameFor(model => model.InvoiceLines.First().Quantity)
            </th>
            <th class="col-md-1">
                @Html.DisplayNameFor(model => model.InvoiceLines.First().LinePrice)
            </th>
        </tr>
        @foreach(var line in Model.InvoiceLines)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => line.InvoiceLineId)
                    </td>
                    <td>                       
                        <dl class="row">
                            <dt class="col-sm-4 text-end">
                                @Html.DisplayNameFor(model => line.TrackName)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => line.TrackName)                              
                            </dd>

                            <dt class="col-sm-4 text-end">
                                @Html.DisplayNameFor(model => line.TrackAlbumTitle)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => line.TrackAlbumTitle)
                            </dd>

                            <dt class="col-sm-4 text-end">
                                @Html.DisplayNameFor(model => line.TrackAlbumArtistName)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => line.TrackAlbumArtistName)
                            </dd>

                            <dt class="col-sm-4 text-end">
                                @Html.DisplayNameFor(model => line.TrackComposer)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => line.TrackComposer)
                            </dd>

                            <dt class="col-sm-4 text-end">
                                @Html.DisplayNameFor(model => line.TrackGenreName)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => line.TrackGenreName)
                            </dd>

                            <dt class="col-sm-4 text-end">
                                @Html.DisplayNameFor(model => line.TrackMediaTypeName)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => line.TrackMediaTypeName)
                            </dd>

                        </dl>
                    </td>
                    <td>
                        @Html.DisplayFor(model => line.UnitPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(model => line.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(model => line.LinePrice)
                    </td>
                </tr>
            }
    </table>
  
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.InvoiceId }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
